  html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }   
    
 
  .body {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 1110px;
    margin: 0 auto;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .logo::first-letter {
    color: #1abc9c;

}

  .logo {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
  }
 
  .menu {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    width: 465px;   
    height: 34px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu li {
    list-style-type: none;
  }
  .nav-list a {
    color: #0f0101;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 11px;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #4ec6ab;
  }
  .section {
    text-align: center;
    padding-top: 110px;
  }
  .top-header {
    margin: 0;
    margin-bottom: 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #515151;
  }
  .gallery {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .gallery li {
    list-style-type: none;
    width: 255px;
  height: 322px;
  background-color: #e9f0fd;
position: relative;
  }
  .gallery-list {
    display: flex;
  }
  .gallery-list a {
    color: #ffffff;
  }
  .gallery-list {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .gallery-list:nth-child(4n) {
    margin-right: 0px;
  }
  .gallery-list:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }
  .gallery-link {
    text-decoration: none;
    display: flex;
    width: 255px;
    height: 320px;
    align-items: flex-end;
    
  }
  
  .gallery-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #323232;
    width: 200px;
    height: 40px;
    position: relative;
  }
  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #8c8c8c;
    width: 55px;
    height: 40px;
    position: relative;
  }
  .gallery-link:hover .gallery-header {
    background-color:#1abc9c;
  }
  .gallery-link:hover .price {
    background-color: #7fd9c7;
  }
  .image-container{
    width: 255px;
    height: 280px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    align-items: center;
  }
  .gallery-img {
   width: 255px;
   display: inline-block;
   margin:  auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    object-fit: scale-down;
  }
  
  .lower-header {
    margin: 0 auto;
    margin-bottom: 130px;
    font-family:'Roboto', sans-serif;
    font-size: 48px;
    color: #555252;
    }
  
  .bottom-line {
    border: none;
    background-color: #1abc9c;
    width: 165px;
    height: 7px;
  }
  .blog {
    display: flex;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
  }
  .blog-img {
    width: 350px;
    margin-bottom: 15px;
  }
  .blog-header {
    margin: 0px;
    margin-bottom: 45px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #555252;
  }
  .blog-text {
    margin: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #555252;
  }
  .blog li {
    list-style-type: none;
    display: inline-block;
  }
  .blog-list a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color:#4ec6ab;
  }
  .blog-list {
    
    margin-right: 30px;
  }
  .blog-list:nth-child(3n) {
    margin-right: 0px;
  }
  .blog-img {
    width:348px ;
    height: 262px;
    object-fit: cover;
  }
  .blog-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 160px;
    height: 50px;
  }
  .bottom-line {
    border: none;
    background-color: #4ec6ab;
    width: 165px;
    height: 7px;
    margin-top: 0px;
    margin-bottom: 95px;
  }
  
  .blog-lines {
    border: none;
    margin-left: 0px;
    margin-bottom: 45px;
    background-color: #4ec6ab;
    width: 135px;
    height: 3px;
  }
  